.chooser {
  display: flex;
}

.chooser-option {
  padding: 12px 24px;
  border: 1px solid #CBD5E1;
  font-weight: 700;
  cursor: pointer;
  transition: all 200ms;
}

.chooser-option:not(:first-child) {
  margin-left: -1px;
}

.chooser-option:first-child {
  border-radius: 6px 0px 0px 6px;
}

.chooser-option:last-child {
  border-radius: 0px 6px 6px 0px;
}

.option-checked {
  background: #CBD5E1;
}