.sort-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 4px;
  list-style-type: none;
}

.sort-item {
  padding: 12px 24px;
  color: #000;
  text-align: left;
  font-weight: 700;
}

.sort-item:hover {
  background: #F8FAFC;
}

.sort-item.active {
  background: #E2E8F0;
}