.item-caption {
  background: #F8FAFC;
  border-radius: 0px 0px 6px 6px;
  padding: 12px;
  margin: 0;
}

.author {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.title {
  font-weight: 700;
  font-size: 16px;
  margin: 6px 0 0 0;
}

.item-image {
  background: #C4C4C4;
  height: 211px;
  display: block;
}

.page-item {
  background: #fff;
  border: 1px solid #E2E8F0;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  cursor: pointer;
}